{% extends 'base.html' %}


{% block app_content %}
    <h1>Enviar planilha</h1>
    <form action="{{url_for('main.upload')}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            {% if form.file.errors %}
            {{ form.file(class='form-control is-invalid') }}
            <!-- <ul class='invalid-feedback'> -->
            {% for error in form.file.errors %}
            <!-- <li>{{ error }}</li> -->
            <div class='invalid-feedback'>{{ error }} </div>
            {% endfor %}
            <!-- </ul> -->
            
            {% else %}
            {{ form.file(class='form-control') }}
            {% endif %}
        </div>
        
        {#<div class="mb-3">
            {{ macros.render_field(form.reference_date, class='form-control')}}
        </div>
        <div class="mb-3">
            {{ macros.render_field(form.title, class='form-control')}}
        </div>
        <div class="mb-3">
        {{ macros.render_field(form.type, class='form-select', nosize=true)}}
        </div>
        <br>
        <div class="mb-3">
            {{ macros.render_field(form.topic, class='selectpicker', nolabel=true, multiple=true,
            **{'data-actions-box':"true", 'data-style':"btn-primary", 'data-selected-text-format':"count"})}}
            </div>
            <br>
        {% if form.approved is defined %}
        <div class="mb-3">
        {% if current_user.is_admin %}
        {{ macros.render_field(form.approved)}}
        <br>
        {{ macros.render_field(form.active)}}
        
        {% endif %}
        <br>
        {{ macros.render_field(form.file_update)}}
        </div>
        {% endif %}#}
        {{form.submit()}}
    </form>
{% endblock %}
